body {
  font-family: "Roboto", sans-serif;
}

.section-dark {
  background-color: #1f2937;
  padding-top: 20px;
}

.header,
.hero {
  color: white;
  display: flex;
  padding: 0px 400px;
}

.header {
  justify-content: space-between;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.header-logo {
  font-size: large;
  font-weight: bold;
}

.hero {
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}
