@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.section-dark {
  background-color: #1f2937;
  padding-top: 20px;
  padding-bottom: 60px;
}

.header,
.hero {
  color: white;
  display: flex;
  padding: 0px 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  justify-content: space-between;
  flex-shrink: 0;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  flex-shrink: 0;
}

.header-logo {
  font-size: large;
  font-weight: bold;
}

.hero {
  padding-top: 40px;
  justify-content: space-between;
}

.hero-main-text,
.hero-placeholder {
  flex: 0 0 50%;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.hero-text p {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 70px;
}

.hero-main-text,
.hero-text p,
.hero-text button {
  margin: 0;
}

.hero-placeholder {
  /* flex-basis: 50%; */
  background-color: grey;
  text-align: center;
  align-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sign-up-top {
  width: 120px;
}

.random-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.random-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.random-image {
  display: flex;
  padding: 0px;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

.random-image img {
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.random-image p {
  text-align: center;
  font-size: small;
}

.random-image img,
.random-image p {
  width: 150px;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.quote p {
  width: 800px;
}

.quote-text {
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

.call-to-action {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.cta-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #3882f6;
  width: 35%;
  padding: 1%;
  border-radius: 10px;
}

.cta-left h3 {
  margin-bottom: 5px;
}

.cta-left p {
  margin-top: 0px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.sign-up-top {
  background-color: #3882f6;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 650;
  border: 2px solid #3882f6;
  border-color: #3882f6;
  color: white;
  padding: 8px 16px;
  width: 120px;
}

.sign-up-bottom {
  background-color: #3882f6;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 650;
  border: 2px solid white;
  color: white;
  padding: 8px 16px;
  width: 120px;
}
